{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3">
			Vous êtes déjà connecté avec le nom d'utilisateur
			{{ app.user.pseudo }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% else %}
		<form method="post">
			<div class="wrapper fadeInDown">
				<div
					id="formContent">
					<!-- Tabs Titles -->
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<!-- Icon -->

					<!-- Login Form -->
					<form>
						<input type="text" class="fadeIn second" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" value= 'compteTest' required autofocus>
						<input class="fadeIn third" placeholder="mot de passe" type="password" name="password" id="inputPassword" autocomplete="current-password" value='passtest' required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="submit" class="fadeIn fourth" value="Valider">
					</form>

					<!-- Remind Passowrd -->
					<div id="formFooter">
						<a href="#">Mot de passe oublié?</a>
						<a href="{{ path('register') }}">S'enregistrer</a>
					</div>

				</div>
			</div>
		</form>
	{% endif %}
{% endblock %}
