{% extends 'base.html.twig' %}

{% block title %}
{{ category.slug }} - FORUM
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12" style="padding-top: 1%">
			<div>
				<img src="/build/images/icones/nomsg.gif"><a style="margin-top: 5%;font-size: 12px;" href="{{ path('home') }}">
					FORUM
				</a>
				<br>
				&nbsp |- <img src="/build/images/icones/nomsg.gif"> {{ category.titre }}
			</div>
			{% include 'home/partials/_flags.html.twig' with {'link' : 'flag_by_category', 'slug' : category.slug} %}
			<a href="{{ path('new_topic', { 'slug': category.slug }) }}">
				<button type="button" class="btn btn-primary btn-lg">Nouveau sujet</button>
			</a>
			{{ pagination.display() }}
			<table class="table table-bordered table-hover" class="align-middle" style="color: #000080">
				<thead class="topbotbackground">
					<tr>
						<th style="width: 1%"></th>
						<th style="width: 1%"></th>
						<th style="width: 58%">
							Sujets
						</th>
						<th style="width: 5%" class="text-center">
							Dern. page
						</th>
						<th style="width: 15%" class="text-center">
							Auteur du sujet
						</th>
						<th style="width: 10%" class="text-center">
							Nombre de réponses
						</th>
						<th style="width: 10%" class="text-center">
							Dernier message
						</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in pagination.data %}
					{% set topicPage = (topic.posts|length / pagination.limit)|round(0, 'ceil') %}
						<tr>
							{% if flags %}
								{% for flag in flags|filter((flag) => flag.topicSlug == topic.slug)  %}
									<td class="align-middle">
									{% if flag.flagPostId == flag.lastPostId %}
										<img src="/build/images/icones/nomsg.gif">
									{% else %}
										<img src="/build/images/icones/newmsg.gif">
									{% endif %}
									</td>
									<td class="align-middle">
									{% if flag.flagPostId != flag.lastPostId and flag.color == "blue" %}
										<a href="{{ path('post', { 'id': flag.flagPostId }) }}"><i class="fas fa-bookmark bluemark"></i></a>
									{% elseif flag.flagPostId != flag.lastPostId and flag.color == "green" %}
										<a href="{{ path('post', { 'id': flag.flagPostId }) }}"><i class="fas fa-bookmark greenmark"></i></a>
									{% endif %}
									</td>
								{% else %}
									<td class="align-middle">
										<img src="/build/images/icones/newmsg.gif">
									</td>
									<td class="align-middle">
									</td>
								{% endfor %}
							{% else %}
									<td class="align-middle">
										<img src="/build/images/icones/newmsg.gif">
									</td>
									<td class="align-middle">
									</td>
							{% endif %}
							<td class="align-middle">
								<a class="linkwithoutline" href="{{ path('posts_list', { 'slug': category.slug, 'topic_slug': topic.slug }) }}">{{ topic.titre }}</a>
							</td>
							<td class="align-middle text-center">
								{% if topicPage > 1 %}
								<a class="linkwithoutline" href="{{ path('posts_list', { 'slug': category.slug, 'topic_slug': topic.slug, 'page': topicPage }) }}">{{ topicPage }}</a>
								{% endif %}
							</td>
							<td class="align-middle text-center" style="background-color: #DEDFDF">
								<b>{{ topic.user.pseudo }}</b>
							</td>
							<td class="align-middle text-center">
								{{ topic.posts|length - 1 }}
							</td>
							<td class="text-center last-msg">
								<a class="linkwithoutline" href="{{ path('post', { 'id': topic.posts|last.id }) }}">{{ topic.posts|last.createdat|date("\\L\\e d/m/Y à H\\Hi")}} &nbsp
								<b>{{ topic.posts|last.user.pseudo }}</a></b>
							</td>
						</tr>
					{% endfor %}
				</tbody>
		</table>
		{{ pagination.display() }}
		<a href="{{ path('new_topic', { 'slug': category.slug }) }}">
			<button type="button" class="btn btn-primary btn-lg">Nouveau sujet</button>
		</a>
		<br>
		<br>
	</div>
</div>
{% include 'home/partials/_legende.html.twig' %}
{% endblock %}
